<div class="container main-container animated fadeIn">
    <h1>{{album.artista}} | <i>{{album.album}}</i></h1>
    <h3>({{album.ano}})</h3>
    <h6><u>{{album.label}}</u></h6>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src='{{album.img}}' class="img-fluid" alt="{{album.album}}">
        </div>
        <div class="col-md-8">
            <h3>#{{album.posicion}} - {{album.album}}</h3>
            <hr>
            <p>
                {{album.bio}}
            </p>
        </div>
        <div>
            <br><br>
            <a [routerLink]="['/albums']" class="btn btn-outline-danger">Back to albums</a>
        </div>
    </div>
</div>